<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Login Form -->
    <form (ngSubmit)="userLogin()" [formGroup]="form" class="php-email-form p-3 p-md-4">
      
      <div class="form-group">
        <input type="email" class="form-control" formControlName="email" placeholder="Email" email
          [class.is-invalid]="form.get('email').invalid && form.get('email').touched">

        <div *ngIf="form.get('email').invalid && form.get('email').touched">
          <small *ngIf="form.get('email').errors" class="text-danger">
            Inserisci un email valida
          </small>
        </div>

      </div>

      <div class="form-group">
        <input type="password" class="form-control" formControlName="password" placeholder="Password"
          [class.is-invalid]="form.get('password').invalid && form.get('password').touched">

        <div *ngIf="form.get('password').invalid && form.get('password').touched">
          <small *ngIf="form.get('password').errors" class="text-danger">
            Inserisci una password valida
          </small>
        </div>

      </div>

      <input type="submit" class="fadeIn third" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['']">Home</a>
    </div>

  </div>
</div>
