.test{
    border: 1px solid black;
}

.infos{
    background-color: #FFF8E8;
}

.h-50{
    height: 50%;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 12px 15px;
    font-weight: bold;
    border:solid thick rgb(25, 105, 21); border-radius: 1em; 
    border-width:3px; padding-left:9px; padding-top:6px; 
    padding-bottom:6px; margin:2px; width:980px;
}

body {
    display: table;
    width: 100%;
    background: #dedede;
    text-align: center;
    box-sizing: border-box;
}

.orderRow{
    background-color: #edefe4;
    padding: 15px;
}

.btn-style{
    border-radius: 10px;
    color: white;
    height: 40px;
    background-color: #D58B40;
    border: none;
    transition: all 150ms ease-in-out;
}

.style{
    text-align: center;
    margin-top: 1.5rem;
}

.style-input{
    background-color: white;
    height: 40px;
    border: 1px solid black;
}

.name-style{
    height: 50px;
    width: 150px;
}