<div class="row">
  <!--put the logic inside the cart.-->
  <app-cart></app-cart>
</div>
<div class="row" *ngFor="let pay of payments">
  <div class="col">
    <!-- list all the infos of the payment-->
  </div>
  <!--add the router link to the button !!!-->
  <div class="col">
    <!--actions-->
    <button class="btn delete rounded"> delete payment</button>
    <button class="btn pay"> pay with the selected method</button>
    <button class="btn update rounded"> update payment info</button>
  </div>
</div>
<div class="row">
  <!--payment with the router link for the add pay-->
  <button class="btn add rounded"> add new payment</button>
</div>