<router-outlet></router-outlet>
<header></header>
<footer></footer>
  <div *ngIf="!update">
  <div class="row">
      <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://cdn.pixabay.com/photo/2017/02/16/23/10/smile-2072907__340.jpg"></div>
      </div>
      <div class="col-md-5 border-right">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Registrazione</h4>
              </div>
              <div class="row mt-2">
                  <div class="col-md-6"><label class="labels">Nome</label><input type="text" class="form-control" placeholder="inserisci nome" value=""></div>
                  <div class="col-md-6"><label class="labels">Cognome</label><input type="text" class="form-control" value="" placeholder="inserisci cognome"></div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-12"><label class="labels">Data di nascita</label><input type="text" class="form-control" placeholder="inserisci data di nascita" value=""></div>
                  <div class="col-md-12"><label class="labels">Password</label><input type="text" class="form-control" placeholder="inserisci password" value=""></div>
                  <div class="col-md-12"><label class="labels">Indirizzo</label><input type="text" class="form-control" placeholder="inserisci indirizzo" value=""></div>
                  <div class="col-md-12"><label class="labels">Città</label><input type="text" class="form-control" placeholder="inserisci città" value=""></div>
                  <div class="col-md-12"><label class="labels">Provincia</label><input type="text" class="form-control" placeholder="inserisci provincia" value=""></div>
                  <div class="col-md-12"><label class="labels">Telefono</label><input type="text" class="form-control" placeholder="inserisci numero di telefono" value=""></div>
                  <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" placeholder="inserisci email" value=""></div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-6"><label class="labels">Tipologia Utente</label><input type="text" class="form-control" placeholder="scegli il tipo " value=""></div>
              </div>
              <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Salva modifiche</button></div>
          </div>
      </div>
  </div>
</div>
<div>
  <form>
    <button class="btn-style m-2 btn btn-primary" type="submit">Login</button>

    <button class="btn-style btn btn-info" (click)="toggleSignupForm()" >Indietro</button>


  </form>
</div>
