body {
    background: #6f8516
}

.form-control:focus {
    box-shadow: none;
    border-color: #6f8516
}

.profile-button {
    background: #6f8516;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #6f8516
}

.profile-button:focus {
    background: #6f8516;
    box-shadow: none
}

.profile-button:active {
    background: #6f8516;
    box-shadow: none
}

.back:hover {
    color: #6f8516;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #6f8516;
    color: #fff;
    cursor: pointer;
    border: solid 1px #6f8516
}

.btn-style{
    border-radius: 10px;
    color: white;
    height: 40px;
    background-color: #6f8516;
    border: none;
}