<div class="row card-product-list">
    <img src="/assets/product-example.jpg"/>
</div>
<div class="row bg-cream">
  <div class="treatment-name">{{product.treatment.name}}
  </div>
  <div class="price-label">{{product.currentPrice}}
  </div>
  <h3 class="title">{{product.title}}</h3>
  <p class="product-description">{{product.description}}</p>
  <div>
    <!-- create a div with inside the selection of the qt order retrive that infos and put it inside the fuction insertToCart()-->
    <div>
      <select class="select-style" id="idCategory" name="idCategory" [(ngModel)]="selectOption" >
        <option *ngFor="let i of product.qt" > {{i}}</option>
      </select>
    </div>
    <div>
      <button class="btn-style col-2 m-1 btn btn-info" (click)="insertToCart(selectOption)"> acquista </button>
    </div>  
</div>