.section-border{
    background-image: url("../../assets/img/waves.gif");
    justify-content: center;
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
}

.house-image{
    background-image: url("../../assets/img/house.jpg");
    background-repeat: no-repeat;
}