.section-border{
    /* background-image: url("../../assets/img/waves.png");
    background-clip: border-box;
    background-size: auto;
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat; */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/img/waves.png");
    background-size: auto;
    max-width: 100%;
    height: auto;
}

.about-img{
    background-image: url("../../assets/img/house.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-wrapper img{
    display: block;
  margin-left: auto;
  margin-right: auto;
    padding-top: 30px;
    height: auto;
    max-width: 100%;
}

.prenota-button{
    border: none;
}