.section-border{
    background-image: url("../../assets/img/waves.png");
    background-clip: border-box;
    background-size: auto;
    justify-content: center;
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
}

.about-img{
    background-image: url("../../assets/img/house.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}