<div class="section-header fadeIn first">
    <p>Benvenuto<span> {{email}}</span></p>
</div>

<div class="container fadeIn second">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Camera</th>
                <th>Data Arrivo</th>
                <th>Data Fine</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prenotazione of prenotazioni">
                <td><span>{{prenotazione.camera}}</span></td>
                <td><span>{{prenotazione.data_inizio}}</span></td>
                <td><span>{{prenotazione.data_fine}}</span></td>
            </tr>
        </tbody>
    </table>
</div>

<div>
<input type="submit" (click)="deleteUser()" class="fadeIn third fixed-bottom" value="Delete Account">
</div>