<section class="d-flex vh-100">

    <div class="col-6 img-wrapper d-none d-md-block">
    </div>
  
    <div class="col-12 col-md-6 d-flex flex-column align-items-center justify-content-center">
      <img src="../../assets/LOGIN.png" alt="logo" class="mb-4">
      <h2 class="style-text">Benvenuto in</h2>
      <h1 class="style-text fw-bold">Health Wellness</h1>
      <h2 class="style-text fw-light fw-lighter">Il benessere è qui ad aspettarti</h2>  
      <form #f="ngForm" class="d-flex flex-column   col-12 col-md-6 d-flex flex-column align-items-center justify-content-center">
        <button type="submit" class="btn-style" [routerLink]="['/login']">Accedi</button>

      </form>
  
    </div>
  
  </section>