  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <a href="index.html" class="logo logobandb d-flex align-items-lg-start me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="../../assets/img/logo.png" alt=""> -->
        <h1>BandB<span>.</span></h1>
      </a>
    <div class="container d-flex align-items-center justify-content-end">

      <nav id="navbar" class="navbar">
        <ul>
          <li><a [routerLink]="['nomePath']">Calendario</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#menu">Le nostre camere</a></li>
          <li><a href="#gallery">Gallery</a></li>
        </ul>
      </nav><!-- .navbar -->
      
      <a class="btn-book-a-table" href="#book-a-table">Prenota</a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
