<header id="header" class="header fixed-top d-flex align-items-center">
  <a href="index.html" class="logo logobandb">
    <h1>B&Bonifazi<span>.</span></h1>
  </a>

  <div class="container d-flex align-items-center justify-content-end">

    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="#about">About Us</a></li>
        <li><a href="#why-us">Perché Sceglierci</a></li>
        <li><a href="#menu">Le nostre camere</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
    </nav>

    <a class="btn-book-a-table" [routerLink]="['prenotazione']">Prenota</a>
    <a class="btn-book-a-table" [routerLink]="['login']">Accedi</a>
    
  </div>
</header>