<div class="row">
  <div class=" col">
    <p class=" d-flex align-content-center fw-bold">scegli il centro in base alla citta :</p>
  </div>
  <div class="col">
      <div>
        <select class="select-style" id="idCategory" name="idCategory" [(ngModel)]="selectOption" >
          <option *ngFor="let city of cityOptionList" [ngValue]="city.id"> {{city.name}}</option>
        </select>
      </div>
      <div>
        <button class="btn-style col-2 m-1 btn btn-info" (click)="search(selectOption)"> ricerca il centro </button>
      </div>
  </div>
</div>
<div class="container">
  <div *ngIf="research">
    <app-usercenter [research]="research"></app-usercenter>
  </div>
</div>
