.btn-style{
    border-radius: 10px;
    color: white;
    height: 35px;
    width: 140px;
    background-color: #D58B40;
    border: none;
    transition: all 150ms ease-in-out;
}

.select-style{
    height: 35px;
    width: 100px;  
}