<router-outlet></router-outlet>
<div>
  <div *ngFor="let center of centerList">
      <div class="container py-4 py-xl-5">
        <div *ngIf="!update">
        <div class="row gy-4 gy-md-0">
            <div class="col-4 d-flex align-items-center justify-content-center">
                <div class="p-xl-1 m-xl-1 d-flex flex-column align-items-center justify-content-center">
                  <img class="rounded img-fluid w-50 fit-cover rounded-circle" style="min-height: 50px;" src="../../assets/account.png" />
                  <h6 class="name-style col-4 d-flex flex-row align-items-center justify-content-center">
                    Nome Centro
                  </h6>
                    <p class="my-3">{{center.name}}</p>
                </div>
            </div>
            <div class="col-8 infos rounded">
              <div class="row h-50">
                <div class="col-4 d-flex flex-column align-items-center justify-content-center">
                      <h6 class="col-4 d-flex flex-column align-items-center justify-content-center">
                        Indirizzo
                      </h6>
                      <p>
                        {{center.address}}
                      </p>
                </div>
                <div class="col-4 d-flex flex-column align-items-center justify-content-center">
                  <h6>
                    Email
                  </h6>
                  <p>
                    {{center.email}}
                  </p>
                </div>
                <div class="col-4 d-flex flex-column align-items-center justify-content-center">
                  <h6>
                    Sito web
                  </h6>
                  <p>
                    {{center.website}}
                  </p>
                </div>
                <button class="btn-style btn btn-info me-4"  (click)="avaibleUpdate()"> Aggiorna centro</button>
                <button class="btn-style btn btn-info me-4"  (click)="deleteCenter(center.id)"> Elimina centro</button>
                <button class="btn-style btn btn-info me-4" [routerLink]="['/Products/adminCenter/' + center.id]">Gestisci prodotti</button>
                </div>
            </div>
          </div>  
        </div>
        <div class="style">
        <button class="btn-style btn btn-info me-4"  (click)="avaibleAdd()"> Crea un nuovo centro </button>
        </div>
      </div>
        <div *ngIf="update">
      
          <form #f="ngForm" class="d-flex flex-column col-11 col-sm-8 gap-2">
            <span>name</span>
            <input class="username rounded-2 ps-3 pe-3 style-input" type="name" id="name" name="name" placeholder="{{center.name}}" ngModel>
    
            <span>address</span>
            <input class="password rounded-2 ps-3 pe-3 style-input" type="address" id="address" name="address"  placeholder="{{center.address}}" ngModel>
          
            <span>email</span>
            <input class="username rounded-2 ps-3 pe-3 style-input" type="email" id="email" name="email" placeholder="{{center.email}}" ngModel>
    
            <span>website</span>
            <input class="username rounded-2 ps-3 pe-3 style-input" type="website" id="website" name="website" placeholder="{{center.website}}" ngModel>
    
            <span>zipcode</span>
            <input class="username rounded-2 ps-3 pe-3 style-input" type="zipcode" id="zipcode" name="zipcode" placeholder="{{center.zipcode}}" ngModel>
    
            <span>phone</span>
            <input class="username rounded-2 ps-3 pe-3 style-input" type="phone" id="phone" name="phone" placeholder="{{center.phone}}" ngModel>
    
            <span>city</span>
            <!--<select class="username rounded-2 ps-3 pe-3 style-input" type="city" id="city" name="city" placeholder="{{center.city.name}}" ngModel>
              <option></option>
            </select> -->
            <button class="btn-style btn btn-info me-4"  (click)="avaibleUpdate()"> Torna indietro </button>

            <button type="submit" class="btn-style" (click)="updateCenter(f,center)">Aggiorna</button>
          </form>
        </div>
        <div *ngIf="add">
      
          <form #a="ngForm" class="d-flex flex-column col-11 col-sm-8 gap-2">
            <span>name</span>
            <input class="username rounded-2 ps-3 pe-3 style-input" type="name" id="name" name="name" placeholder="{{center.name}}" ngModel>
    
            <span>address</span>
            <input class="password rounded-2 ps-3 pe-3 style-input" type="address" id="address" name="address"  placeholder="{{center.address}}" ngModel>
          
            <span>email</span>
            <input class="username rounded-2 ps-3 pe-3 style-input" type="email" id="email" name="email" placeholder="{{center.email}}" ngModel>
    
            <span>website</span>
            <input class="username rounded-2 ps-3 pe-3 style-input" type="website" id="website" name="website" placeholder="{{center.website}}" ngModel>
    
            <span>zipcode</span>
            <input class="username rounded-2 ps-3 pe-3 style-input" type="zipcode" id="zipcode" name="zipcode" placeholder="{{center.zipcode}}" ngModel>
    
            <span>phone</span>
            <input class="username rounded-2 ps-3 pe-3 style-input" type="phone" id="phone" name="phone" placeholder="{{center.phone}}" ngModel>
    
            <span>city</span>
            <!--<select class="username rounded-2 ps-3 pe-3 style-input" type="city" id="city" name="city" placeholder="{{center.city.name}}" ngModel>
              <option></option>
            </select> -->
            <button class="btn-style btn btn-info me-4"  (click)="avaibleAdd()"> scompari</button>

            <button type="submit" class="btn-style" (click)="addCenter(a)">Aggiungi</button>
          </form>
        </div>
    </div>
</div>


