<div class="row">
  <div class="col-6 col-md-6 col-sm-12 p-4 pt-1 pb-1" *ngFor="let item of centerList">
    <div class="row card-product-list">
      <div class="col-6 col-md-4 p-0 img-product-card">
        <img src="/assets/product-example.jpg"/>
      </div>
      <div class="col-6 col-md-8 p-3 bg-cream">
        <div class="treatment-name">{{item.website}}</div>
        <div class="price-label">{{item.email}}</div>
        <h3 class="title">{{item.name}}</h3>
        <p class="product-description">{{item.email}}</p>
        <a [routerLink]="['center/'+ item.id]" class="goto-product">Vai al centro >> </a>
      </div>
    </div>
  </div>
</div>