.img-wrapper{
    background-image: url('../../assets/img_wellcome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.style-input{
    background-color: white;
    height: 40px;
    border: 1px solid black;
}

.style-text{
    color: #6F8516;
    font-size: 45px;
}

.anchor-link{
    color: #6F8516;
    text-decoration: none;
}

.btn-style{
    border-radius: 10px;
    color: white;
    height: 40px;
    background-color: #D58B40;
    border: none;
    transition: all 150ms ease-in-out;
}

.btn-style:hover{
    background-color: #6F8516;
}