 <!-- ======= NavBar ======= -->
 <header id="header" class="header fixed-top d-flex align-items-center">

  <a href="index.html" class="logo logobandb d-flex align-items-lg-start me-auto me-lg-0">
    <h1>B&Bonifazi<span>.</span></h1>
  </a>

</header><!-- End NavBar -->


<section class="container">
    <section id="contact" class="contact">
        <div class="container"></div>

        <div class="row">
            <!-- Form -->
            <div class="col-lg-5">
                <form (ngSubmit)="send()" [formGroup]="form" class="php-email-form p-3 p-md-4">
                    <div class="row">
                      <div class="col-xl-6 form-group">
                        <input type="text" class="form-control" formControlName="nome">
                      </div>
                      <div class="col-xl-6 form-group">
                        <input type="text" class="form-control" formControlName="cognome">
                      </div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" formControlName="email">
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" formControlName="telefono">
                    </div>
                    <div class="form-group">
                        <h6>Ospiti</h6>
                        <div class="wrapper"> 
                          <button id="minus" class="border-0 text-center" (click)="decrement()" type="button">-</button>
                          <input id="num" type="number" value="1" class="border-0 text-center" formControlName="ospiti" [readonly]=true>
                          <button id="plus" class="plus border-0" (click)="increment()" type="button">+</button>
                        </div>
                    </div>

                    <div class="form-group">
                      <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="From Date" formControlName="data_inizio">
                        <input matEndDate placeholder="To Date" formControlName="data_fine">
                      </mat-date-range-input>
                  
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>

                    </div>
                      
                    
                    <div class="text-center"><button type="submit">Prenota</button></div>
                  </form><!--End Contact Form -->
            </div>

            <!-- Calendario -->
            <div class="col-lg-7">

                
              <!-- <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" [markDisabled]="isDisabled" outsideDays="hidden">
              </ngb-datepicker> -->
              
              <!-- <ng-template #t let-date let-focused="focused">
                <span
                  class="custom-day"
                  [class.focused]="focused"
                  [class.range]="isRange(date)"
                  [class.faded]="isHovered(date) || isInside(date)"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null"
                >
                  {{ date.day }}
                </span>
              </ng-template> -->
            </div> 
            
        </div>

          
      </section><!-- End Contact Section -->
    </section>